/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* générale*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

a {
	text-decoration: none;
	color: #000000;
}

/* barre navigation */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	font-weight: 700;
}

/* Presentation */
#introduction {
	display: flex;
	align-items: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Portfolio*/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* formulaires */
#contact,
#pass {
	width: 50%;
	margin: auto;
	border: white solid 2px;
}

#contact>*,
#pass>* {
	text-align: center;
}

#contact h2,
#pass h2 {
	margin-bottom: 20px;
}

#contact form,
#pass form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#pass input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#pass form {
	margin: auto;
	width: 379px;
}

#contact label,
#pass label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 50px;
}

input[type="submit"]:hover {
	color: white;
	background-color: #0E2F28;
}

/* Filtres */
.filtres {
	text-align: center;
}

input[type="button"] {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: #ffffff;
	margin: 2em auto;
	width: 180px;
	height: 50px;
	text-align: center;
	border-radius: 60px;
	border: #1D6154 solid 2px;
}

input[type="button"]:hover {
	background-color: #1D6154;
	color: white;
}

input[type="button"]:focus {
	color: #fff;
	background-color: #1D6154;
}

/*Barre edition*/
.edition {
	background-color: #000000;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	text-align: center ;
	display: flex;
	align-items: center;
	justify-content:center;
}
.edition p, i{
	color: #fff;
	margin-left:10px;
}

#btnChange {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	background: #fff;
	border: black solid 2px;
	width: 215px;
	height: 40px;
	margin: 10px;
}

#btnChange:hover {
font-weight: 700;
background-color: red;
color: yellow;
}

/* footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
