/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* générale*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

a {
  text-decoration: none;
  color: #000000;
}

/* barre navigation */
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
  font-weight: 700;
}

/* Presentation */
#introduction {
  display: flex;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 200px;
}

#introduction figure {
  flex: 1;
  color: #000000;
}

#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  flex: 1;
  margin-left: 70px;
  width: 100%;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#modifierProjets,
#modifierSophie {
  font-weight: 400;
  padding: 20px;
}

/* Portfolio*/
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

/* formulaires */
#contact,
#pass,
#ajout {
  width: 50%;
  margin: auto;
  border: white solid 2px;
}

#contact > *,
#pass > *,
#ajout > * {
  text-align: center;
}

#contact h2,
#pass h2 {
  margin-bottom: 20px;
}

#contact form,
#pass form,
#ajout form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#pass input,
#ajout input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#titrePhoto,
#categoriePhoto {
  width: 420px;
}

#pass form {
  margin: auto;
  width: 380px;
}
.forgotpassword {
  text-align: center;
}
.forgotpassword:hover {
  font-size: 1.2em;
}

#ajout {
  margin: auto;
  width: 380px;
}

#contact label,
#pass label,
#ajout label {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  height: 50px;
}

input[type="submit"]:hover {
  color: white;
  background-color: #0e2f28;
}

/* Modale ajout photo*/
#cadreBleu {
  width: 420px;
  height: 169px;
  text-align: center;
  background: #e8f1f7;
  border-radius: 3px;
  display: grid;
  justify-items: center;
}

.preview img {
  height: 100%;
}

.iconPicture {
  object-fit: cover;
  margin-top: 20px;
  margin: 1em 0 -1em 0;
}

#cadreBleu p {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

#ajouterPhoto {
  display: none;
}

#btnAjoutPhoto {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #306685;
  background: #cbd6dc;
  border-radius: 50px;
  width: 173px;
  height: 36px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#validerAjoutPhoto {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  background: #a7a7a7;
  border-radius: 60px;
  border: black solid 2px;
  width: 237px;
  height: 36px;
  margin: 10px;
}

/* Filtres */
#filtres {
  text-align: center;
}

input[type="button"] {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: #ffffff;
  margin: 2em auto;
  width: 180px;
  height: 50px;
  text-align: center;
  border-radius: 60px;
  border: #1d6154 solid 2px;
}

input[type="button"]:hover {
  background-color: #1d6154;
  color: white;
}

input[type="button"]:focus {
  color: #fff;
  background-color: #1d6154;
}
/* barre noir */
#maskBarre {
  background-color: #000000;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#maskBarre p,
#maskBarre i {
  color: #fff;
  margin-left: 10px;
}

#btnChange {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #fff;
  border: black solid 2px;
  width: 215px;
  height: 40px;
  margin: 10px;
}

/* footer */
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* CSS modale */
/* général */
* {
  box-sizing: border-box;
}
/* Modale 1 */
/* gallerie modale*/
.galleryModal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /*margin-top:  50px;
	margin-bottom: 50px;*/
  padding: 50px;
}

.galleryModal h1 {
  font-family: "Work Sans";
}

.galleryModal img {
  width: 100%;
}

/* Line de séparation */
.line {
  width: 420px;
  border: 1px solid #b3b3b3;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* bouton ajout photo*/
.ajoutPhoto {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  height: 50px;
}

.ajoutPhoto:hover {
  background-color: #1d6154;
  color: white;
}

/* suppression galerie*/
.supp {
  color: red;
  margin: 50px;
  margin: 50px;
}

/* modale elle meme*/
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s both;
}

.modal-wrapper {
  overflow: auto;
  width: 630px;
  /*height: auto;*/
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  animation: slideToBottom 0.3s both;
}

.modal-wrapper h1 {
  font: work sans;
  font-size: 26px;
  font-weight: 400;
  color: #000000;
  margin-top: 60px;
}

.navModal {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
}

.modal[aria-hidden="true"] {
  animation-name: fadeout;
}

.modal[aria-hidden="true"],
.modal-wrapper {
  animation-name: slideToBottom;
}

/* modale 2 */

/* animation CSS*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideToBottom {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(50px);
  }
}
